// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
@import "footnote";

#header h1{
  line-height: 50px;
}

#header{
  height: 100%;
  margin-bottom: 0;
}

.inner#header{
  height: 100%;
  margin-bottom: 0;
}

article .entry-content{
  text-align: left;
}